<h1>About Us</h1>
<p1>Our Vision is to create a happy, productive environment for people across the globe<br /><br />
	<b>Goals</b><br />
	1. Host a minimum of TWO tournaments a month.<br />
	2. Host one continuous league each month.<br />
	3. Uphold time scheduling. Tournaments should only be rescheduled for an emergency.
</p1>
